In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
nan=np.nan

In [3]:
df=pd.read_csv('pandas data/bank.csv',sep=';') # delimiter=';'

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [6]:
# how many customers are there in total
df.age.count()

4521

In [7]:
# how many customers have primary education
df.education[df.education=='primary'].count()

678

In [17]:
# how much is the average balance
avg_bal=df.balance.mean()
avg_bal

1422.6578190665782

In [18]:
# how many customers have balance higher than the average balance
df.balance[df.balance>avg_bal].count()

1162

In [19]:
# what is the average age of customers
df.age.mean()

41.17009511170095

In [20]:
# how many customers are below the average age
df.age[df.age<df.age.mean()].count()

2567

In [22]:
# what is the average balance of the customers with primary level of education
avg_bal_prim = df.balance[df.education=='primary'].mean()
avg_bal_prim

1411.5442477876106

In [23]:
# is the average balance of customers with tertiary level of education more than those with secondary level of education
avg_bal_sec = df.balance[df.education=='secondary'].mean()
avg_bal_sec

1196.8143972246314

In [24]:
avg_bal_ter = df.balance[df.education=='tertiary'].mean()
avg_bal_ter

1775.4237037037037

In [25]:
avg_bal_ter > avg_bal_sec

True

In [35]:
# how many customers are there in different kinds of jobs
df.groupby('job').count()['age']

job
admin.           478
blue-collar      946
entrepreneur     168
housemaid        112
management       969
retired          230
self-employed    183
services         417
student           84
technician       768
unemployed       128
unknown           38
Name: age, dtype: int64

In [42]:
# make a df2 with just married customers showing their age and housing
df11 = df[df.marital=='married']

In [56]:
df2 = pd.DataFrame({'age': df11['age'].values, 
                   'housing': df11['housing'].values})
df2

      age housing
0      30      no
1      33     yes
2      30     yes
3      59     yes
4      36     yes
5      39     yes
6      41     yes
7      43     yes
8      39     yes
9      43     yes
10     36      no
11     31     yes
12     40      no
13     56      no
14     31      no
15     44      no
16     26      no
17     41      no
18     55     yes
19     67      no
20     56      no
21     53      no
22     31      no
23     59      no
24     49      no
25     32     yes
26     33     yes
27     52     yes
28     32     yes
29     55      no
...   ...     ...
2767   44     yes
2768   43     yes
2769   42     yes
2770   43     yes
2771   23     yes
2772   43      no
2773   46     yes
2774   31     yes
2775   38      no
2776   53     yes
2777   37     yes
2778   45      no
2779   58     yes
2780   48     yes
2781   31     yes
2782   38     yes
2783   34     yes
2784   42     yes
2785   60      no
2786   33     yes
2787   42     yes
2788   51      no
2789   46     yes
2790   40     yes
2791   49      no
2792   38     yes
2793   33     yes
2794   57     yes
2795   57      no
2796   28      no

[2797 rows x 2 columns]