# Summarizing and Computing Descriptive Statistics

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [6]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [11]:
df.sum(axis='columns') # Axis to reduce over; 0 for DataFrameâ€™s rows and 1 for columns

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [35]:
df.mean(axis='columns', skipna=False) # Exclude missing values; True by default 
# median and mode also available

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [12]:
df.idxmax() # index of the max value

one    b
two    d
dtype: object

In [14]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [16]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe() # On non-numeric data, describe produces alternative summary statistics

count     16
unique     3
top        a
freq       8
dtype: object

In [18]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [24]:
df.count(axis=0)

one    3
two    2
dtype: int64

In [23]:
df.min(axis=0)

one    0.75
two   -4.50
dtype: float64

In [25]:
df.max()

one    7.1
two   -1.3
dtype: float64

In [30]:
df.one.argmin()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  """Entry point for launching an IPython kernel.

'd'

In [31]:
df.one.argmax()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

'b'

In [32]:
df.idxmin()

one    d
two    b
dtype: object

In [33]:
df.one.idxmin()

'd'

In [34]:
df.quantile()

one    1.4
two   -2.9
Name: 0.5, dtype: float64

In [38]:
df.prod() # Product of all values

one    7.455
two    5.850
dtype: float64

In [39]:
df.var()

one    12.205833
two     5.120000
dtype: float64

In [40]:
df.std()

one    3.493685
two    2.262742
dtype: float64

In [41]:
df.skew()

one    1.664846
two         NaN
dtype: float64

In [42]:
df.kurt()

one   NaN
two   NaN
dtype: float64

## Thank you!